[Unit]
Description=AI Docs API Service
Requires=docker.service
After=docker.service

[Service]
RemainAfterExit=yes
Restart=always
WorkingDirectory=/home/ubuntu/datagovmy-ai
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
