[Unit]
Description=AI Docs Pipeline Service
After=multi-user.target

[Service]
Type=simple
Restart=always
EnvironmentFile=/home/ubuntu/datagovmy-ai/src/assistant/.env
WorkingDirectory=/home/ubuntu/datagovmy-ai/src/assistant
ExecStart=/home/ubuntu/datagovmy-ai/env/bin/dagster dev -h $BACKEND_HOST -p $DAGSTER_PORT

[Install]
WantedBy=multi-user.target
