fastapi
langchain
langchain-openai
langchain-chroma
langchain-community
faiss-cpu
weaviate-client
pandas
openai
pyarrow
tiktoken
redis
fastapi-cache2[redis]
uvicorn
pydantic-settings
langserve
chromadb
opentelemetry-exporter-otlp-proto-grpc
sse_starlette
