fastapi
langchain
langchain-openai
langchain-chroma
langchain-community
faiss-cpu
weaviate-client
pandas
openai
pyarrow
tiktoken
redis
fastapi-cache2[redis]
uvicorn
pydantic-settings
langserve
chromadb==0.5.3
opentelemetry-exporter-otlp-proto-grpc==1.25.0
sse_starlette
